<ion-header>
  <ion-toolbar class="ios hydrated">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ios title-ios hydrated">Edit User</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list lines="full" class="ion-no-margin ion-no-padding ios list-ios list-lines-full list-ios-lines-full hydrated">
    <form [formGroup]="updateUserForm" (ngSubmit)="updateForm()">
        <ion-item>
          <ion-label position="floating">User Name</ion-label>
          <ion-input formControlName="username" type="text" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">First Name</ion-label>
          <ion-input formControlName="name" type="text" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Last Name</ion-label>
          <ion-input formControlName="surname" type="text" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Birthday</ion-label>
          <ion-datetime displayFormat="MMM DD YYYY" formControlName="birthday"></ion-datetime>
        </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">Update User</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>
</ion-content>
